<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
            <title>SuperHeroes</title>
    </head>
    <body>
        <!-- Main Body of Page -->
        <div class="container">
            <div class="row m-4">
                <div id="header" class="col text-center border border-danger shadow-lg p-3 mb-5 bg-white rounded">
                    <h1><a href="/" class="text-dark">SuperHeroes</a></h1>
                    <span><img th:src="@{img/super_garfield_v1.jfif}" style="width: 100px" /></span>
                </div>
            </div>
            <div class="row m-4 border border-success shadow-lg p-3 mb-5 bg-white rounded">
                <div class="col text-center m-3">
                    <a href="/" class="btn btn-outline-primary btn-lg">HomePage</a>
                </div>
                <div class="col text-center m-3">
                    <a href="heroes" class="btn btn-outline-primary btn-lg">Heroes</a>
                </div>
                <div class="col text-center m-3">
                    <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
                </div>
                <div class="col text-center m-3">
                    <a href="10LatestSightings" class="btn btn-outline-primary btn-lg">10 Latest_Sightings</a>
                </div>
                <div class="col text-center m-3">
                    <a href="contactUs" class="btn btn-outline-primary btn-lg">Contact_US</a>
                </div>
            </div>
            <div class="row m-4  border border-success shadow-lg p-3 mb-5 bg-white rounded">
                <div class="col-3 text-center m-3">
                    <span class="h3">Add Hero</span>
                </div>
                <div class="col-7 text-center m-3">
                    <form action="addHero" method="POST">
                        <div class="form-group row">
                            <label for="name" class="col-3 col-form-label">
                                First Name</label>
                            <div class="col-9">
                                <input type="text" name="name" 
                                       id="name" class="form-control"/>
                                <div th:if="${#fields.hasErrors('hero.name')}">
                                    <p th:each="error : ${#fields.errors('hero.name')}" 
                                       class="alert alert-danger" th:text="${error}">
                                        Bad name </p>
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-3 col-form-label">
                                Description</label>
                            <div class="col-9">
                                <input type="text" name="description" 
                                       id="description" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="superPower" class="col-3 col-form-label">
                                SuperPower</label>
                            <div class="col-9">
                                <input type="text" name="superPower" 
                                       id="SuperPower" class="form-control"/>
                                <div th:if="${#fields.hasErrors('hero.superPower')}">
                                    <p th:each="error : ${#fields.errors('hero.superPower')}" 
                                       class="alert alert-danger" th:text="${error}">
                                        Bad name </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="organizations" class="col-3 col-form-label">
                                Organizations</label>
                            <div class="col-9">
                                <select multiple id="organizations" name="organizationId" 
                                        class="form-control" >
                                    <option th:each="organization : ${organizations}" 
                                            th:value="${organization.organizationId}" 
                                            th:text="${organization.name + ' ' 
                                            + organization.address}">
                                        Organization Name</option>
                                </select>
                                <div th:if="${#fields.hasErrors('hero.organizations')}">
                                    <p th:each="error : ${#fields.errors('hero.organizations')}" 
                                       class="alert alert-danger" th:text="${error}">
                                        Bad name </p>
                                </div>                                
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Hero</button>
                    </form>
                </div>
            </div>
            <div class="row m-4 border border-success shadow-lg p-3 mb-5 bg-white rounded">
                <div class="col text-center m-3">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th>Hero_Id</th>
                                <th>Name</th>
                                <th>Description(optional)</th>
                                <th>SuperPower</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="hero : ${heroes}">
                                <td th:text="${hero.heroId}">Hero ID</td>
                                <td th:text="${hero.name}">Hero Name</td>
                                <td th:text="${hero.description}">Hero Description</td>
                                <td th:text="${hero.superPower}">Hero SuperPower</td>
                                <td><a href="#" th:href="@{/editHero(id=${hero.heroId})}">Edit</a></td>
                                <td><button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="'#delete'+${hero.heroId}">Delete</button></td>      
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal" tabindex="-1" role="dialog" th:id="'delete'+${hero.heroId}" th:each="hero:${heroes}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete Hero?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this hero?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Don't Delete!</button>
                            <a class="btn btn-primary" href="#" th:href="@{/deleteHero(id=${hero.heroId})}">Save changes</a>
                        </div>
                    </div>
                </div>
            </div>                         
        </div>




        <!-- End main body -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
