<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

            <title>SuperHeroes</title>
    </head>
    <body>
        <!-- Main Body of Page -->
        <div class="container">
            <div class="row m-4">
                <div id="header" class="col text-center border border-danger shadow-lg p-3 mb-5 bg-white rounded">
                    <h1><a href="/" class="text-dark">SuperHeros</a></h1>
                    <span><img th:src="@{img/super_garfield_v1.jfif}" style="width: 100px" /></span>
                </div>
            </div>
            <div class="row m-4 border border-success shadow-lg p-3 mb-5 bg-white rounded">
                <div class="col text-center m-3">
                    <a href="/" class="btn btn-outline-primary btn-lg">HomePage</a>
                </div>
                <div class="col text-center m-3">
                    <a href="heroes" class="btn btn-outline-primary btn-lg">Heroes</a>
                </div>
                <div class="col text-center m-3">
                    <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
                </div>
                <div class="col text-center m-3">
                    <a href="10LatestSightings" class="btn btn-outline-primary btn-lg">10 Latest_Sightings</a>
                </div>
                <div class="col text-center m-3">
                    <a href="contactUs" class="btn btn-outline-primary btn-lg">Contact_US</a>
                </div>
            </div>
            <div class="row m-4 border border-success shadow-lg p-3 mb-5 bg-white rounded">
                <div class="col-3 text-center m-3">
                    <span class="h3">Add Organization</span>
                </div>
                <div class="col-7 text-center m-3">
                    <form action="addOrganization" method="POST">
                        <div class="form-group row">
                            <label for="name" class="col-3 col-form-label">
                                Name</label>
                            <div class="col-9">
                                <input type="text" name="name" 
                                       id="name" class="form-control"/>
                                <div th:if="${#fields.hasErrors('organization.name')}">
                                    <p th:each="error : ${#fields.errors('organization.name')}" 
                                       class="alert alert-danger" th:text="${error}">
                                        Bad name </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-3 col-form-label">
                                Description</label>
                            <div class="col-9">
                                <input type="text" name="description" 
                                       id="description" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="address" class="col-3 col-form-label">
                                Address</label>
                            <div class="col-9">
                                <input type="text" name="address" 
                                       id="address" class="form-control"/>
                                <div th:if="${#fields.hasErrors('organization.address')}">
                                    <p th:each="error : ${#fields.errors('organization.address')}" 
                                       class="alert alert-danger" th:text="${error}">
                                        Bad Address</p>
                                </div>
                            </div>                            
                        </div>
                        <button type="submit" class="btn btn-primary">Add Organization</button>
                    </form>
                </div>
            </div>
            <div class="row m-4 border border-success shadow-lg p-3 mb-5 bg-white rounded">
                <div class="col text-center m-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description(optional)</th>
                                <th>Address</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="organization : ${organizations}">
                                <td th:text="${organization.organizationId}">Organization ID</td>
                                <td th:text="${organization.name}">Organization Name</td>
                                <td th:text="${organization.description}">Organization Description</td>
                                <td th:text="${organization.address}">Organization Address</td>
                                <td><a href="#" th:href="@{/editOrganization(id=${organization.organizationId})}">Edit</a></td>
                                <td><button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="'#delete'+${organization.organizationId}">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" th:id="'delete'+${organization.organizationId}" th:each="organization:${organizations}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Hero?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this sighting?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Don't Delete!</button>
                        <a class="btn btn-primary" href="#" th:href="@{/deleteOrganization(id=${organization.organizationId})}">Save changes</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End main body -->    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
